
.fContato{
    margin-left: 800px;
}

.contato{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 200px;
    display: inline-block;
}

.titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 0px;
}

.enviar{
    background-image: linear-gradient(to right, #E6E8E6 , #CED0CE );
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}

